---
layout: page
title: Events
permalink: /events/
order: 5
---

<div class="l-box-lrg pure-g">
{{ event.date }}
{{ site.time }}
{% for event in site.posts reversed %}
{% if event.date > site.time %}
   <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
       <img class="pure-img-responsive" alt="{{event.title}}" width="300" src="{{site.baseurl}}{{event.photo}}">
   </div>
   <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">

       <h2 class="content-head">
           <a href="{{ event.url | prepend: site.baseurl }}" class="event-link">
                <span class="{{ event.icon }}"></span> {{event.title}}
           </a>
       </h2>
       <p>
           {{ event.excerpt }}
       </p>
       <p>{{ event.date | date: "%b %-d, %Y" }} @ {{ event.start_time}}</p>

   </div>

{% endif %}
{% endfor %}
</div>

<h2>Past Events</h2>

<div class="l-box-lrg pure-g">

{% for event in site.posts | where:"past","true"%}
{% if event.date < site.time %}
   <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
       <img class="pure-img-responsive" alt="{{event.title}}" width="300" src="{{site.baseurl}}{{event.photo}}">
   </div>
   <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">

       <h2 class="content-head">
           <a href="{{ event.url | prepend: site.baseurl }}" class="event-link">
                <span class="{{ event.icon }}"></span> {{event.title}}
           </a>
       </h2>
       <p>
           {{ event.excerpt }}
       </p>
       <p>{{ event.date | date: "%b %-d, %Y" }} @ {{ event.start_time}}</p>

   </div>
{% endif %}
{% endfor %}

</div>
